<%= form_for(@assessment) do |f| %>
  <% if @assessment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assessment.errors.count, "error") %> prohibited this assessment from being saved:</h2>

      <ul>
      <% @assessment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <a id='select-all-button' style="cursor: pointer;"> Select/Desect All </a>
  <div class="field">
    <% options = Employee.all.pluck(:name, :id) %>

    <% options.each do |option| %>
      <%= check_box_tag 'options[]', option[1] %>
      <%= label_tag option[1], option[0] %><br>
    <% end %>
  </div>

  <div class="form-group">
    <%= date_field_tag :created_at, params[:created_at], value: Time.now.strftime('%Y-%m-%d'), class: "form-control" %>
  </div>

  <div class="actions">
    <%= link_to 'Back', assessments_path, class: "btn btn-outline-info" %>
    <%= f.submit class: "btn btn-outline-success"%>
  </div>
<% end %>


<script>
  $('#select-all-button').on("click", function(){
    var cbxs = $('input[type="checkbox"]');
    cbxs.prop("checked", !cbxs.prop("checked"));
  });
</script>
