<!DOCTYPE html>
<html>
<head>
  <title>Enhance</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">   
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <%= link_to new_employee_path, class: "nav-link active mr-auto" do %> Add Employee <% end %>
      </li>
      <li class="nav-item">
        <%= link_to new_job_path, class: "nav-link active mr-auto" do %> Add Job <% end %>
      </li>
      <li class="nav-item">
        <%= link_to jobs_path, class: "nav-link active mr-auto" do %> Job <% end %>
      </li>
      <li class="nav-item">
        <%= link_to employees_path, class: "nav-link active mr-auto" do %> Employee <% end %>
      </li>
      <li class="nav-item">
        <%= link_to assessments_path, class: "nav-link active mr-auto" do %> Privious History <% end %>
      </li>
      <li class="nav-item">
        <%= link_to new_assessment_path, class: "nav-link active mr-aut" do %> Assign job <% end %>
      </li>
    </ul>
    <div class="navbar-nav ml-auto mr-4">
      <% if user_signed_in? %>
      <%= link_to "Sign Out", destroy_user_session_path, class: "nav-link text-white" %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path, class: "nav-link text-white"  %>
      <% end %>
    </div>
  </div>
</nav>
<% if notice %>
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    <p id="notice"><%= notice %></p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
      <div class="card my-5 shadow">
        <%= yield %>
      </div>
    </div>
  </div>
</div>
</body>
</html>
